.terraform/
*.tfstate
*.tfstate.*
*.tfplan
environments/dev/terraform.tfvars
environments/prod/terraform.tfvars
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
