region       = "ap-northeast-2"
project_name = "pantry-mate"
environment  = "dev"

terraform_state_bucket_name = "CHANGE_ME_TO_BOOTSTRAP_BUCKET_NAME"
foundation_state_key        = "dev/foundation/terraform.tfstate"

nat_instance_type = "t3.nano"

eks_cluster_name           = "pantry-mate-dev-eks"
eks_kubernetes_version     = "1.35"
eks_endpoint_public_access = false
# 위에 eks_endpoint_public_access true로 바꾸면 아래 cidr을 본인 아이피 입력해서 로컬로 진입 가능합니다
# ifconfig.me
# 0.0.0.0/0은 안됩니다
eks_public_access_cidrs = ["203.0.113.10/32"]

manage_node_instance_type = "t3.large"
manage_node_capacity_type = "ON_DEMAND"
manage_node_min_size      = 1
manage_node_max_size      = 1
manage_node_desired_size  = 1
manage_node_labels = {
  role = "manage"
}

worker_node_instance_type = "t3.medium"
worker_node_capacity_type = "SPOT"
worker_node_min_size      = 3
worker_node_max_size      = 3
worker_node_desired_size  = 3
worker_node_labels = {
  role = "worker"
}

gpu_node_instance_type = "g4dn.xlarge"
gpu_node_min_size      = 0
gpu_node_max_size      = 1
gpu_node_desired_size  = 0

ecr_repository_names = [
  "pantry-mate-dev-frontend",
  "pantry-mate-dev-backend",
  "pantry-mate-dev-ai",
]

s3_versioning_enabled         = true
cloudwatch_log_retention_days = 14
extra_tags                    = {}
